.tab-content div {
  display: none;
}

.tab-content .active {
  display: block !important;
  animation: show 300ms forwards;
} 
.tabnav {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 24px auto;
}
li a {
  padding: 8px;
  display: block;
  border-bottom: 4px solid #1a1a1a;
  color: #666;
  font-size: 0.85rem;
  font-weight: 400;
}
.tab-active a {
  border-bottom: 4px solid #ec092f;
  color: #ffffff;
  font-weight: 400;
}
.tab-content {
  color: #ffffff;
  text-align: center;
}
.tab-content div {
  max-width: 600px;
  margin: 0 auto;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
